<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite1" verbose="1">
	<test name="TestNG-tests">
		<packages>
			<package name="com.vmware.moviebase" />
		</packages>
	</test>
	
	<test name="JUnit-tests" junit="true">
		<packages>
			<package name="com.vmware.moviebase" />
		</packages>
	</test>
</suite> 